#container {
    background-color: #ffc0cb;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
    align-items: start;
}
.child {
    background-color: orange;
}